.image-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 10px;
    grid-gap: 0px 1px;
    
}

.image-list img {
    width: 250px;
}