.container {
    height: 500px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .searchBar {
    width: 300px
} */

.searchBar input {
    position: relative;
	 padding: 15px 40px 15px 20px;
	 width: 60px;
     height: 80px;
	 color: #525252;
	 text-transform: uppercase;
	 font-size: 15px;
	 font-weight: 100;
	 letter-spacing: 2px;
	 border: none;
	 border-radius: 25px;
	 background: linear-gradient(to right, #fff 0%, #464747 #f9f9f9 100%);
	 transition: width 0.4s ease;
	 outline: none;
}

.searchBar input:focus{
    width: 700px;
}

.searchIcon{
    position: relative;
    bottom: -10px;
	left: -44px;    
	color: #8233c5;
}